.quarto/vdoc/.vdoc.59b5f2f3-cac2-47a9-b1be-c9fc8037fdf2.r
QIC Starter - In Class_files/libs/quarto-html/tippy.umd.min.js
QIC Starter - In Class_files/libs/quarto-html/tippy.css
QIC Starter - In Class_files/libs/quarto-html/tabsets/tabsets.js
QIC Starter - In Class_files/libs/quarto-html/quarto.js
QIC Starter - In Class_files/libs/quarto-html/quarto-syntax-highlighting-37eea08aefeeee20ff55810ff984fec1.css
QIC Starter - In Class_files/libs/quarto-html/popper.min.js
QIC Starter - In Class_files/libs/quarto-html/anchor.min.js
QIC Starter - In Class_files/libs/clipboard/clipboard.min.js
QIC Starter - In Class_files/libs/bootstrap/bootstrap.min.js
QIC Starter - In Class_files/libs/bootstrap/bootstrap-icons.woff
QIC Starter - In Class_files/libs/bootstrap/bootstrap-icons.css
QIC Starter - In Class_files/libs/bootstrap/bootstrap-bb462d781dde1847d9e3ccf7736099dd.min.css
QIC Starter - In Class.html
